:root{ 
    --background-dark: #0f1217;
    --background-more-dark: #08090c;
    --blue: #1D4EB6;
    --light-blue: #35D2EA;
}

*{
    margin: 0px;
}

h1, h2, p{
    color: white;
}

body{   
 display: flex;
 flex-direction: row;
 background-color: var(--background-more-dark);
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    width: 13vw;
    height: 100vh;
    background-color: var(--background-dark)
}

.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 50px;
}

.header-menu img{
    width: 90px;
    height: 90px;
}

.header-menu p{
    text-align: center;
}

nav{
    height: 30vh;
    width: 10vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

 li a{
    text-decoration: none;
    font: 200 17px/1.5 "Arial";
    color: white;
    display: flex;
    gap: 8px;
}

li img{
    width: 24px;
    height: 24px;
}