:root{ 

    /*fontes*/
    --font-main: "Inter", sans-serif;

    /*cores*/
    --background-dark: #0f1217;
    --background-more-dark: #08090c;
    --light-blue: #05D5F8;
    --green: #38A446;
    --red: #ED3A32;
    --yellow: #EA9C1B;
}

*{
    margin: 0px;
}

h1, h2, p{
    color: white;
}

body{   
 display: flex;
 flex-direction: row;
 background-color: var(--background-more-dark);
 font-family: var(--font-main);
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    width: 13vw;
    height: 100vh;
    background-color: var(--background-dark)
}

.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 50px;
}

.header-menu img{
    width: 90px;
    height: 90px;
}

.header-menu p{
    text-align: center;
}

nav{
    height: 30vh;
    width: 10vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 35px;
}

 li a{
    text-decoration: none;
    font-family: var(--font-main);
    color: white;
    display: flex;
    gap: 8px;
}

li img{
    width: 24px;
    height: 24px;
}


.header-principal{
  display: flex;
  justify-content: space-between;
    
  width: 80vw;
  height: 5vh;
  padding: 25px;
}

#User{
    color: var(--light-blue);
    font-weight: bold;
}

.commands{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#periodo{
    font-family: var(--font-main);
    padding: 10px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    border: none;
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    background-color: var(--background-dark);
    color: white;
}

.btn-nova-transacao{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: var(--light-blue);
}


/*resumo financeiro(cards)*/

.resumo-financeiro{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    gap: 70px;
    width: 80vw;
    height: 20vh;
}

.resumo-financeiro article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 400px;
    height: 100px;
    padding: 14px;

    background-color: var(--background-dark);

    border-radius: 5px;
}


.resumo-financeiro > article > h2{
    font-size: 14px;
}

.resumo-financeiro > article > .valor-card{
    font-size: 30px;
}

#receita-card{
    color: var(--green);
}

#despesas-card{
    color: var(--red);
}

#saldo-card{
    color: var(--light-blue);
}

#transacoes-card{
    color: var(--yellow);
}

.info-card{
    font-size: 10px;
    padding-bottom: 10px;
}












